<div class="section">
    <div class="container">
        <div class="row">
            <div class="diversity-cat-bar"></div>
            <div class="diversity-cat-head">
                <h4 class="diversity-cat-head-text">Today's Highlight</h4>
            </div>
        </div>
        <div class="">
            <div class="row">
                {{ range first 1 (where .Site.Pages "Type" "dacpost") }}
                <div class="col-sm-5 col-md-4">
                    {{$diversityp := "images/diversity/diversity-post.svg" }}
                    <img src="{{ $diversityp | relURL }}">
                    <p>Published: {{ .PublishDate.Format "01|02|2006" }}</p>
                </div>
                <div class="col-sm-7 col-md-8">
                    <h3 class="text-center">{{ .Title }}</h3>
                    <p class="text-center">Author: {{ .Params.author }}</p>
                    <p class="text-center">{{ .Summary | truncate 200 }}</p>   
                    <p class="text-right">
                        <a href="{{ .Permalink }}">Read More</a>
                    </p>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>