<div class="section">
    <div class="container">
        <div class="row">
            <div class="diversity-cat-bar"></div>
            <div class="diversity-cat-head">
                <h4 class="diversity-cat-head-text">Past Posts</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                {{$diversityp := "images/diversity/diversity-post.svg" }}
                <img src="{{ $diversityp | relURL }}">
                <div>
                    <h3>Post Title</h3>
                    <p>Author: Risat Haque</p>
                    <p>Published: 10|15|2020</p>
                </div>
            </div>
            <div class="col-md-3">
                <img src="{{ $diversityp | relURL }}">
                <div>
                    <h3>Post Title</h3>
                    <p>Author: Risat Haque</p>
                    <p>Published: 10|15|2020</p>
                </div>
            </div>
            <div class="col-md-3">
                <img src="{{ $diversityp | relURL }}">
                <div>
                    <h3>Post Title</h3>
                    <p>Author: Risat Haque</p>
                    <p>Published: 10|15|2020</p>
                </div>
            </div>
        </div>
    </div>
</div>