{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.resources.academic_resources.enable }}
{{ with $data.resources.academic_resources }}

<section>
    <div class="container">
        <h2>{{.title}}</h2>
        <p>{{.description}}</p>
    </div>
</section>

{{if .featured_resource.enable }}
<!-- <section>
    <div class="container ess-featured-container">
        {{ range .featured_resource.resource_item }}
      <div class="">
        <div class="block">
          <i class="{{ .icon }}"></i>
          <h3>{{ .name | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
</section>
<section> -->
    <div class="container ess-featured-container">
        {{ range .featured_resource.resource_item }}
        <div class="row">
            <div>
                <i class="{{.icon}}"></i>
            </div>
            <div>
                <h3>{{ .name | markdownify }}</h3>
                <p>{{ .content | markdownify }}</p>
                {{ if .show_link }}
                <p><a href="{{ .link }}">{{ .link_text }}</a></p>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}

{{if .additional_resource.enable }}
<br>
<section>
    <div class="container">
        {{ range .additional_resource.resource_item }}
        <div class="row">
            <div>
                <i class="{{.icon}}"></i>
            </div>
            <div>
                <h3>{{ .name | markdownify }}</h3>
                <p>{{ .content | markdownify }}</p>
                {{ if .show_link }}
                <p><a href="{{ .link }}">{{ .link_text }}</a></p>
                {{ end }}
            </div>
        </div>
        <hr>
        {{ end }}
    </div>
</section>

{{ end }}

{{ end }}
{{ end }}

{{ end }}