{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.council.about.enable }}
{{ with $data.council.about }}
<section class="service-about section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>{{ .title | markdownify }}</h2>
        <p class="mt-30">{{ .content | markdownify }}</p>
      </div>
      <div class="col-md-6">
        <img class="img-responsive" src="{{ .image | absURL }}">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Exec Listing -->
{{ if .Params.executive_team.enable }}
<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>{{.Params.executive_team.title}}</h3>
        <p>{{.Params.executive_team.description}}</p>
      </div>
    </div>
    <div class="row council-container">
      {{range (sort (where .Site.Pages "Params.memberType" "executive") ".Params.position" "asc")}}
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <img class="img-responsive img-council" src="{{ .Params.image | absURL }}">
            <h3>{{ .Params.name | markdownify }}</h3>
            <p>{{.Params.pronouns}}</p>
            <a href="mailto:{{.Params.email}}"><i class="ion-ios-email-outline council-email"></i></a>
            <h4>{{ .Params.position | markdownify }}</h4>
            <p>{{ .Content }}</p>
          </div>
        </div>
      {{end}}
    </div>
  </div>
</section>
{{ end }}

<!-- /Exec Listing -->

<!-- Comish Listing -->
{{ if .Params.commissioner_team.enable }}
<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>{{.Params.commissioner_team.title}}</h3>
        <p>{{.Params.commissioner_team.description}}</p>
      </div>
    </div>
    <div class="row council-container">
      {{range (sort (where .Site.Pages "Params.memberType" "commissioner") ".Params.position" "asc")}}
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <img class="img-responsive img-council" src="{{ .Params.image | absURL }}">
            <h3>{{ .Params.name | markdownify }}</h3>
            <p>{{.Params.pronouns}}</p>
            <a href="mailto:{{.Params.email}}"><i class="ion-ios-email-outline council-email"></i></a>
            <h4>{{ .Params.position | markdownify }}</h4>
            <p>{{ .Content }}</p>
          </div>
        </div>
      {{end}}
    </div>
  </div>
</section>
{{ end }}

<!-- /Comish Listing -->


<!-- Council Listing -->
{{ if $data.council.council_listing.enable }}
{{ with $data.council.council_listing }}
<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>{{ .title | markdownify }}</h3>
        <p>{{ .description | markdownify }}</p>
      </div>
    </div>
    <div class="row council-container">
      {{ range .council_member }}
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img class="img-responsive img-council" src="{{ .image | absURL }}">
          <h3>{{ .name | markdownify }}</h3>
          <h4>{{ .title | markdownify }}</h4>
          <p>{{ .biog | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- /Council Listing -->

<!-- Commissioner Listing -->
{{ if $data.council.commissioner_listing.enable }}
{{ with $data.council.commissioner_listing }}
<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>{{ .title | markdownify }}</h3>
        <p>{{ .description | markdownify }}</p>
      </div>
    </div>
    <div class="row" style="display: flex; flex-wrap: wrap;">
      {{ range sort .council_member "title" "asc"}}
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img class="img-responsive img-council" src="{{ .image | absURL }}">
          <h3>{{ .name | markdownify }}</h3>
          <h4>{{ .title | markdownify }}</h4>
          <p>{{ .biog | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- /Commissioner Listing -->

<!-- FYR Listing -->
{{ if .Params.fyr_team.enable }}
{{ with .Params.fyr_team }}
<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>{{ .title | markdownify }}</h3>
        <p>{{ .description | markdownify }}</p>
      </div>
    </div>
    <div class="row" style="display: flex; flex-wrap: wrap;">
      {{ range sort .members "block" "asc" }}
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img class="img-responsive" src="{{ .image | absURL }}">
          <h3>{{ .name | markdownify }}</h3>
          <h4>Block {{ .block }}</h4>
          <p>{{ .bio | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- /FYR Listing -->

{{ end }}
