{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if .Params.pricing.enable }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Digital</h2>
        <h2>$10</h2>
      </div>
      <div class="col-sm-6">
        <h2>Physical</h2>
        <h2>$10</h2>
      </div>  
    </div>
  </div>
</section>

{{ end }}

{{ if .Params.partner_discounts.enable }}
{{ with .Params.partner_discounts }}

<section>
  <div class="container">
    <div class="row">
      <h2>{{ .title | markdownify}}</h2>
      <p>{{ .content | markdownify}}</p>
    </div>
    <div class = "row">
      {{ range .partners }}
      <div class="">
        <div class="col-xs-2 col-sm-1">
          {{ if eq .type "percentage" }}
          <h1>{{ .percentage }}%</h1>
          {{ else if eq .type "deal" }}
          <h1>$</h1>
          {{ else }}
          <h1>Deal</h1>
          {{end}}
        </div>
        <div class="col-xs-2 col-sm-1">
          {{if in .logo "images" }}
          <img src="{{ .logo | relURL }}" style="width: 90%; padding-top: 45%;">
          {{ end }}
        </div>
        <div class="col-xs-7 col-sm-4">
          <h2>{{ .name | markdownify }}</h2>
          <p>{{ .description | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
{{ end }}

{{ if .Params.buy_now.enable }}

<section class="call-to-action bg-1 section-sm overly" style="background-image: url('{{.Params.bg_image | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>{{ .Params.buy_membership.title | markdownify }}</h2>
          <p>{{ .Params.buy_membership.description | markdownify }}</p>
          <a class="btn btn-main btn-solid-border" href="{{ .Params.buy_membership.link | relLangURL }}">{{ .Params.buy_membership.label }}</a>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}


{{ end }}