{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if .Params.tempClose.enable }}
  <section class="section">
    <div class="container">
      <h1>Temporarily Closed</h1>
      <h2>{{ .Params.tempClose.message}}</h2>
    </div>
  </section>

{{end}}

{{ if .Params.hours }}
<section class="section">
  <div class="container">
    <div class="row">
      <h2>Office Hours</h2>
      <table class="hours-table">
        <tr><th>Monday</th><td>{{ .Params.hoursStart.monday }} - {{ .Params.hoursEnd.monday }}</td></tr>
        <tr><th>Tuesday</th><td>{{ .Params.hoursStart.tuesday }} - {{ .Params.hoursEnd.tuesday }}</td></tr>
        <tr><th>Wednesday</th><td>{{ .Params.hoursStart.wednesday }} - {{ .Params.hoursEnd.wednesday }}</td></tr>
        <tr><th>Thursday</th><td>{{ .Params.hoursStart.thursday }} - {{ .Params.hoursEnd.thursday }}</td></tr>
        <tr><th>Friday</th><td>{{ .Params.hoursStart.friday }} - {{ .Params.hoursEnd.friday }}</td></tr>
      </table>
    </div>
    <div class="row hours-table-bottom-text">
        {{ .Content }}
    </div>
  </div>
</section>

{{ end }}
{{end}}