{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- <section class="">
    <div class="container">
      <div class="row">
        <div class="">
          <h2>{{ .Params.title}}</h2>
          <p>{{ .Content }}</p>
        </div>
      </div>
    </div>
  </section> -->

<section>
    <div class="container">
        <!-- <div class="row">
            <h2>Our Sponsors</h2>
        </div>   -->
    {{ range (where .Site.Pages "Layout" "sponsor") }}
    <div class="row dept-container" style="margin-top: 1em;">
        <div class="dept-list-info">
            <a class="" href="{{ .Permalink }}" style="width: 50%; ">
                <img class="dept-list-logo" src="{{ .Params.Logo | relURL }}" alt="{{ .Title }}">
            </a>
        </div>
        <div class="">
            <!-- <h3 class=""><a href="{{ .Permalink }}">{{ .Title }}</a></h3> -->
            <h3 class="">{{ .Title }}</h3>
            <!-- <h4>{{ .Params.President.title}}: {{ .Params.President.name}}</h4> -->
            <p>{{ .Summary | truncate 200 }}</p> 
            <a class="btn btn-main" href="{{ .Permalink }}">Learn more</a>
        </div>
        
    </div>
    <hr>
    {{ end }} 
    
    </div>
</section>

{{ end }}