{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- <section class="">
    <div class="container">
      <div class="row">
        <div class="">
          <h2>{{ .Params.title}}</h2>
          <p>{{ .Content }}</p>
        </div>
      </div>
    </div>
  </section> -->

<section>
  <div class="contianer">
    <h2 class="sponsor-level">Gold</h2>
    <div class="sponsor-logos-container">
      {{ range where .Site.Pages "Params.sponsortier" "gold" }}
       <a class="" href="{{.Params.website}}">
        <img class ="sponsor-image-size-gold" src="{{.Params.logo | relURL}}" alt="{{.Title}}"/>
      </a>
      {{end}}
    </div>
  </div>
  <hr>
</section>

<section>
  <div class="contianer">
    <h2 class="sponsor-level">Silver</h2>
    <div class="sponsor-logos-container">
      {{ range where .Site.Pages "Params.sponsortier" "silver" }}
      <a class="" href="{{.Params.website}}"> 
        <img class ="sponsor-image-size"src="{{.Params.logo | relURL}}" alt="{{.Title}}"/>
      </a>
      {{end}}
    </div>
  </div>
  <hr>
</section>

<section>
  <div class="contianer">
    <h2 class="sponsor-level">Bronze</h2>
    <div class="sponsor-logos-container">
      {{ range where .Site.Pages "Params.sponsortier" "bronze" }}
      <a class="" href="{{.Params.website}}">
        <img class ="sponsor-image-size" src="{{.Params.logo | relURL}}" alt="{{.Title}}"/>
      </a>
      {{end}}
    </div>
  </div>
  <hr>
</section>

<section>
  <div class="contianer">
    <h2 class="sponsor-level">Sponsors</h2>
    <div class="sponsor-logos-container">
      {{ range where .Site.Pages "Params.sponsortier" "none" }}
      <!-- <a class="sponsor-logo general-sponsor" href="{{.Params.website}}"> -->
        <img src="{{.Params.logo | relURL}}" alt="{{.Title}}"/>
      </a>
      {{end}}
    </div>
  </div>
</section>

{{ end }}