{{ define "main" }}


<section class="page-title bg-2" style="background-image: url('{{.Params.Bg_image | absURL}}');">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <img class="dept-head-logo" src="{{ .Params.logo | relURL }}">
          <div class="block">
            <h1>{{ .Title }}</h1>
            <p>{{ .Params.Subtitle }}</p>
            <a class="btn btn-main" href="{{ .Params.social.website }}">Website</a>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="section">
  <div class="container">
    <div class="row">
        <!-- <div class="dept-pres">
            <img class="dept-pres-img" src="{{ .Params.president.bio_img | relURL }}">
            <h3>{{ .Params.president.name }}</h3>
            <p>{{ .Params.president.title }}</p>
            <a href="mailto:{{ .Params.president.email }}">{{ .Params.president.email }}</a>
        </div> -->
        <div class="">
        {{ .Content }}
        </div>
    </div>
  </div>
</section>

{{ if .Params.accepting}}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Application Form</h3>
        <iframe src="{{.Params.application_form}}" width="100%" height="1114" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
    </div>
  </div>
</section>

{{end}}

{{ end }}