{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <img class="img-responsive w-100" src="{{ .Params.Image | relURL }}" alt="">
        </div>
        <div class="col-md-4">
            <div class="project-details">
              <h1>Event Details</h1>
                <ul>
                    <h2>When</h2>
                    <h3>{{dateFormat "Jan 2, 2006 at 3:40pm" .Params.start_date }} to {{dateFormat "Jan 2, 2006 at 3:40pm" .Params.end_date }}</h3>
                </ul>
                <ul>
                    <h2>Where</h2>
                    {{ range .Params.location }}
                    <li><a href="https://maps.google.com/?q={{.address}}">{{ .label }}</a></li>
                    {{ end }}
                </ul>
              <ul>
                {{ range .Params.Information }}
                <li><span>{{ .label }} :</span> <strong>{{ .info | markdownify }}</strong></li>
                {{ end }}
              </ul>
            </div>
          </div>
        <div class="col-sm-6 col-md-3">
            <div class="service-item">
            </div>
        </div>
      </div>
    </div>
  </section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}