html, body {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
}

.btn {
    border-radius: 5px;
    border: none;
}

.btn-main {
    background-color: #c5332c;
}

.btn-main:hover {
    background-color: #781e19;
}

.overly:before, .slider:before, .page-title:before {
    background: #333;
}

.card {
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    background-color: #eee;
}

.card img {
    max-width: 95%;
    align-self: center;
    margin-bottom: 8px;
}

.media-object {
    margin: 0;
}

a {
    color: #c5332c;
}

a:hover {
    color: #781e19;
}

.section-title {
    margin-bottom: 20px;
    flex: 1 0 auto;
}

.section {
    padding: 30px 0px 30px 0px;
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.app-link {
    padding: 10px;
  }

.app-card {
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    color: #c5332c;
    background-color: #eee;
}

.head-notify {
    background-color: #c5332c;
    text-align: center;
    padding: 1px;
}

.head-notify-link {
    color: #eee;
}

.dept-container {
    min-height: 200px;
    vertical-align: middle;
    /* text-align: center; */
}


.dept-head-logo {
    height: 200px;
    float: left;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px;
    max-width: 30%;
    height: auto;
    max-height: 200px;
    border-radius: 10px;
}

.dept-pres {
    float: left;
    padding-right: 5%;
}

.dept-pres-img {
    height: 200px;
}


.dept-list-logo {
    max-width: 200px;
    min-width: 200px;
    height: auto;
    padding: 5%;
}

.middle-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.dept-list-info {
    float: left;
    min-height: 200px;
    padding-right: 5%;
    padding-left: 2%;
    min-width: 200px;
}

#btn-nav {
    color: #eee;
    background-color: #c5332c;
    margin-left: 15px;
}

#navbar-logo {
    height: 55px;
}

#head-img-text {
    text-align: center;
    color: #eee;
    font-size: xx-large;
}
