
    <div class="container">
        <div class="row">
        <form method="POST" action="{{ .Site.Params.contact_form_action | safeURL }}">
          <div class="col-md-6 col-sm-12">
            <div class="block">
              <div class="form-group">
                <input name="user_name" type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input name="user_name" type="text" class="form-control" placeholder="Group/ Club Name">
              </div>
              <div class="form-group">
                <input name="user_email" type="text" class="form-control" placeholder="Email Address">
              </div>
              <div class="form-group">
                <input name="user_subject" type="text" class="form-control" placeholder="Subject">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="block">
              <div class="form-group">
                <select id="booking-type" name="booking-type" class="form-control">
                  <option value="lounge">Engineering Lounge</option>
                  <option value="meeting-room">Team Room</option>
                  <option value="projector">Projector</option>
                </select>
              </div>
              <div class="form-group-2">
                <textarea name="user_message" class="form-control" rows="4" placeholder="Your Message"></textarea>
              </div>
              <button class="btn btn-default" type="submit">Request Booking</button>
            </div>
          </div>
        </form>
      </div>
    </div>


