{{ define "main" }}

<section class="slider" style="background-image: url('{{ .Params.bg_image | absURL }}'); height: 1000px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 id="head-img-text">{{ .Title }}</h1>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<section class="slider" style="background-image: url('{{ .Params.box4.img | absURL }}'); height: 750px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 id="head-img-text">{{ .Params.box3.head }}</h1>
      </div>
    </div>
  </div>
</section>

{{ end }}